<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>spring-mvn</display-name>
	
	<!-- ####################################### START Request Filter -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>httpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>httpMethodFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- ####################################### END Request Filter -->
	
	<!-- ####################################### START Listener setting -->
	<!-- ContextLoaderListener 는 Application 의 설정을 올려준다. -->
	<!-- DispatcherServlet 는 request 를 dispatch 하기 위한 mvc 설정을 올려준다. -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:META-INF/applicationContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>spring-web</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/spring-mvc-web.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring-web</servlet-name>
		<url-pattern>*.wwz</url-pattern>
	</servlet-mapping>
	<!-- ####################################### END Listener setting -->

	<!-- ####################################### START Session time setting -->
	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>
	<!-- ####################################### END Session time setting -->

	<!-- ####################################### START error pages -->
	<error-page>
		<error-code>400</error-code>
		<location>/WEB-INF/views/jsp/common/error-4xx.html</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/WEB-INF/views/jsp/common/error-4xx.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/jsp/common/error-4xx.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/views/jsp/common/error-5xx.html</location>
	</error-page>
	<error-page>
		<error-code>501</error-code>
		<location>/WEB-INF/views/jsp/common/error-5xx.html</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/WEB-INF/views/jsp/common/error-5xx.html</location>
	</error-page>
	<!-- ####################################### END error pages -->

	<!-- ####################################### START Default page -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<!-- #######################################END Default page -->
</web-app>
